@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('../assets/fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../assets/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
}
